.odd-element {
    background-color: #e07e7e;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.third-element {
    font-size: 36px;
}

#second-element {
    color: #0000FF;
    font-size: 36px;
}

#fourth-element {
    background-color: #5dec7e;
    font-size: 24px;
    font-weight: bold;
}